body{ 
  background-color: var(--bg);  
/* Use for background later #fbfbfb or #ecf0f1 */
--bg: #ecf0f1;
--p: #000;
--card-bg: #fbfbfb;
--card-h1: #564787;
transition: background-color .6s ease-in;
}

/* Dark theme: * BODY: background-color: rgb(26, 34, 36) P: Color Font: #e8e6e3 */
body[data-theme="dark"]{
  --bg: #242424;
  --p: #fff;
  --card-bg: #434343;
  --card-h1: #C2B9D4;  
}

div, nav{
transition: background-color .6s ease-in;

}

#typeName { font-size: 48px;  }

.typed-cursor {
  /* color: #bf4aa8; */
  color: var(--bg);
  font-size: 48px;
  border-right: 10px solid #bf4aa8;  
}
nav li a, #typeName,h1
{ font-family: 'Montserrat', serif; color: #51d0de }

p{ font-family: 'Lora', 'Times New Roman'; margin: 0; color: var(--p)   }

nav li{
  display: inline-block;
  padding-right: 5%;
  padding-top: 1vh;
}

nav li a{ text-decoration: none; font-size: 32px; }
.row{ max-width: 1140px; margin: 0 auto; padding-bottom: 2% ; background-color: var(--bg); }


nav li a:hover{ border-bottom: 5px solid #bf4aa8; color: #224ba3;}

nav ul {  text-align: right; }

.navHdr{ text-align: center; margin: 0; padding-top: 2vh; }

.headerRow{ margin-top: 15px; }
.headerRow h2{ font-size: 20px; color: #747fe0; }
.subHeaders{ color: #bf4aa8; margin-top:15px;}

.fa-5x { margin-left: 5%; color: #747fe0; }


.card{
  width: 100%;
  height: 300px;
  text-align: center;
  margin-top: 25px;
}

.left{
width: 50%;
float: left;
height: 300px;

}
.right{
  width: 50%;
  background-color: var(--card-bg);
  float: left;
  height: 100%;
  transition: background-color 1.5s ease-in;

}

.right h1{
  color: var(--card-h1);
  margin: 5px 0;
  transition: background-color 1.5s ease-in;
}
.right p{ margin-top: 10%; }
.right h4{
  display: inline-block;
  margin: 15px 0;
  padding: 10px;
  border: 2px solid #51d0de;
  color: #51d0de;
  border-radius: 5px;
}

.right h4:hover{
  color: #224ba3;
  background-color: #747fe0;
  border:2px solid #747fe0;
}

.fa-3x{
  margin-right: 25px;
  color: #51d0de;
}

#contactMe{ text-align: center; }
#contactMe p{ padding: 35px 0;}
#contactMe i:hover{ color: #224ba3; }
#contactMe i{ padding-left: 25px;}


a:hover{
  cursor: pointer;
}